:root {
    --background: #121826;
    --primary_item: #fefefe;
    --background_item: #121826;
    --background_item_hover: #292f3b;
    --item_non_hover: #fefefe;
    --text_link: #c9cdd2;
    --text_link_accent: #dadbde;
    --line_color: #222836;
}

html {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

body {
    background: var(--background);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
}

.dropdown {
    min-width: 10rem;
    width: 100%;
    max-width: 16rem;
    padding: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    background-color: var(--background_item);
}

.main_item {
    padding: 0.5rem;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: start;
    border-radius: 0.5rem;
    user-select: none;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    gap: 1rem;
    border: none;
    width: 100%;
    background: var(--background_item);
    transition: all ease-in-out 0.25s;
    color: var(--item_non_hover);
}

.main_item:hover {
    background-color: var(--background_item_hover);
    color: var(--item_non_hover);
}

.main_item svg {
    stroke: var(--item_non_hover);
    transition: all ease-in-out 0.25s;
}

.main_item:hover svg {
    stroke: var(--primary_item);
}

.main_item--open {
    border-radius: 8px;
    transition: all 200ms;
    color: var(--primary_item);
}

.main_item--open:hover {
    color: var(--primary_item);
    border-radius: 8px;
    background-color: var(--background_item_hover);
}

.main_item--open svg {
    stroke: var(--primary_item);
}

.dropdown > ul {
    max-height: 0px;
    list-style-type: none;
    margin: 0;
    padding-left: 14px;
    opacity: 0;
    font-size: smaller;
    visibility: hidden;
    transition: all ease-in-out 0.2s;
}

.main_item--open + ul {
    visibility: visible;
    min-height: 400px;
    padding-left: 22px;
    opacity: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.dropdown > ul > li {
    height: 48px;
    display: flex;
    width: 100%;
    font-size: 0.9rem;
    align-items: center;
    border-left: 2px solid var(--line_color);
}

.dropdown > ul > li > a {
    color: var(--item_non_hover);
    padding: 1rem 0.75rem;
    height: 2.4rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.5rem;
    margin-left: 1rem;
    width: 100%;
}

.dropdown > ul > li:hover {
    color: var(--primary_item);
    cursor: pointer;
}

.dropdown > ul > li:hover > a {
    color: var(--primary_item);
    background: var(--background_item_hover);
    width: 100%;
}

.expand-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: auto;
    transform: rotate(90deg);
}

.main_item--open > .expand-icon {
    transform: rotate(-90deg);
}